STM32WL_WS/STM32WL_WS/Hands-on/Attendee_resources/Flow_Multitech.txt
[{"id":"516bedd1.7f5408","type":"lora in","z":"395cd6f0.40beee","name":"","datatype":"utf8","x":88.1099853515625,"y":476.2281854802912,"wires":[["b5a4cba2.dc2998","6cc78222.1eb28c"]]},{"id":"b089a7dd.2615f8","type":"lora out","z":"395cd6f0.40beee","name":"","eui":"","payload":"","ack":false,"port":"","x":761.7008666992188,"y":456.8645324707031,"wires":[]},{"id":"12eace27.114002","type":"switch","z":"395cd6f0.40beee","name":"COMPARE","property":"payload","rules":[{"t":"lt","v":"27"},{"t":"gt","v":"27"},{"t":"eq","v":"27"}],"checkall":"true","outputs":3,"x":324.3599853515625,"y":474.9781854802912,"wires":[["d5bca352.dec32"],["6b456a8a.0713e4"],["e27e5431.1b42e8"]]},{"id":"b5a4cba2.dc2998","type":"switch","z":"395cd6f0.40beee","name":"COMPARE/AT","property":"payload","rules":[{"t":"cont","v":"MOTE"},{"t":"else"}],"checkall":"true","outputs":2,"x":214.0190773010254,"y":638.3873260671442,"wires":[["59b1854f.bcf128"],["3ac5702c.e2e508"]]},{"id":"59b1854f.bcf128","type":"change","z":"395cd6f0.40beee","name":"CHANGE","rules":[{"t":"change","p":"payload","pt":"msg","from":"MOTE","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":501.8599853515625,"y":631.2281854802911,"wires":[["b089a7dd.2615f8","44fc4a8d.55cc5"]]},{"id":"d5bca352.dec32","type":"change","z":"395cd6f0.40beee","name":"INCREASE","rules":[{"t":"set","p":"payload","to":"I","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":558.678150177002,"y":386.1145322973078,"wires":[["cdcc448d.e96a6","b089a7dd.2615f8"]]},{"id":"6b456a8a.0713e4","type":"change","z":"395cd6f0.40beee","name":"DECREASE","rules":[{"t":"set","p":"payload","to":"D"}],"action":"","property":"","from":"","to":"","reg":false,"x":560.9509162902832,"y":467.932747667486,"wires":[["fb53b078.4ca2c","b089a7dd.2615f8"]]},{"id":"e27e5431.1b42e8","type":"change","z":"395cd6f0.40beee","name":"EQUAL","rules":[{"t":"set","p":"payload","to":"E"}],"action":"","property":"","from":"","to":"","reg":false,"x":550.9509048461914,"y":535.6600282842462,"wires":[["d5e9b6a7.f0761","b089a7dd.2615f8"]]},{"id":"cdcc448d.e96a6","type":"debug","z":"395cd6f0.40beee","name":"","active":true,"console":"false","complete":"payload","x":681.496337890625,"y":197.43272399902344,"wires":[]},{"id":"fb53b078.4ca2c","type":"debug","z":"395cd6f0.40beee","name":"","active":true,"console":"false","complete":"false","x":718.4053955078125,"y":250.70545959472656,"wires":[]},{"id":"d5e9b6a7.f0761","type":"debug","z":"395cd6f0.40beee","name":"","active":true,"console":"false","complete":"false","x":750.8599853515625,"y":312.5236511230469,"wires":[]},{"id":"44fc4a8d.55cc5","type":"debug","z":"395cd6f0.40beee","name":"","active":true,"console":"false","complete":"payload","x":845.0417633056641,"y":629.2054538726807,"wires":[]},{"id":"6cc78222.1eb28c","type":"debug","z":"395cd6f0.40beee","name":"","active":true,"console":"false","complete":"payload","x":245.72362171519876,"y":156.66000366210938,"wires":[]},{"id":"3ac5702c.e2e508","type":"change","z":"395cd6f0.40beee","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":" .*","fromt":"re","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":366.3999938964844,"y":570.6399536132812,"wires":[["12eace27.114002"]]}]